<app-nav-bar></app-nav-bar>
<div class="container mx-auto px-4 py-8">
    <h1 class="text-2xl font-bold mb-4">My Project</h1>

    <!-- Task List -->
    <div class="bg-gray-800 p-4 rounded-md">
      <h2 class="text-lg font-bold mb-2">Task List</h2>

      <!-- Task Item -->
      <div class="flex items-center mb-4">
        <input
          type="checkbox"
          id="task-1"
          class="mr-2 form-checkbox h-4 w-4 text-purple-600"
        />
        <label for="task-1" class="font-medium text-gray-100">
          Complete task 1
        </label>
      </div>

      <!-- Task Item -->
      <div class="flex items-center mb-4">
        <input
          type="checkbox"
          id="task-2"
          class="mr-2 form-checkbox h-4 w-4 text-purple-600"
        />
        <label for="task-2" class="font-medium text-gray-100">
          Complete task 2
        </label>
      </div>

      <!-- Task Item -->
      <div class="flex items-center mb-4">
        <input
          type="checkbox"
          id="task-3"
          class="mr-2 form-checkbox h-4 w-4 text-purple-600"
        />
        <label for="task-3" class="font-medium text-gray-100">
          Complete task 3
        </label>
      </div>

      <!-- Task Item -->
      <div class="flex items-center mb-4">
        <input
          type="checkbox"
          id="task-4"
          class="mr-2 form-checkbox h-4 w-4 text-purple-600"
        />
        <label for="task-4" class="font-medium text-gray-100">
          Complete task 4
        </label>
      </div>
    </div>
  </div>