<app-nav-bar></app-nav-bar>
<div class="content">
    <div class="profile flex flex-row justify-center">
        <div class="profile__card">
            <div class="image">
                <img src="../../../../../assets/images/mandarin.png" alt="Profile picture">
            </div>
            
            <div class="info">
                
                <h2><i class="pi pi-user" style="font-size: 1em; margin-right: 0.5em;"></i>{{userName == null ? "" : userName}}</h2>
                <h3><i class="pi pi-star" style="font-size: 1em; margin-right: 0.5em;"></i>Level: Small Mandarina (1)</h3>
                <h3><i class="pi pi-chart-bar" style="font-size: 1em; margin-right: 0.5em;"></i>Points: 200 Mandarine</h3>
            </div>
        </div>
        <div class="w-full">   
            <app-leaderboard [users]="users"></app-leaderboard>
        </div>
        

    </div>
    
    <div class="projects">
        <div class="project__field">
            <h1>Your projects</h1>
            <div *ngFor="let project of projects" class="flex justify-center">
                <app-project-card  [project]="project"></app-project-card>   
            </div>

            <p-dialog header="Create a new adventure!" class="flex flex-direction-column" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
                <form class="flex flex-col" [formGroup]="formGroup!" >
                    <input formControlName="name" placeholder="Project name" type="text" pInputText/>
                    <textarea formControlName="description" placeholder="What is this project about" rows="5" cols="30" pInputTextarea></textarea>
                    <button (click)="createProject()" [disabled]="!formGroup?.valid" [ngClass]="{'disabled':!formGroup?.valid,'hover:bg-blue-600':formGroup?.valid}"  type="submit" class="text-white bg-blue-950 mt-9" pButton>Create</button>
                </form>
            </p-dialog>
            <button (click)="showDialog()" icon="pi pi-plus" class="btn text-white bg-blue-950" pButton></button>
        </div>
    </div>
</div>

