::ng-deep .p-tabmenu .p-tabmenu-nav {
    background: #111827 !important;
    border:none;
    border-bottom: 1px solid whitesmoke;
    border-width: 0 0 2px 0;
}
::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link{
    background: #111827 !important;
    color: whitesmoke;
}

.content{
    height: calc(100vh - 57px);
    display: flex;
    flex-direction: row;
}

.profile{
    width: 80vw;
    padding: 5em;
    gap: 5em;
}

.profile__card{
    border: 1px solid whitesmoke ;
    
    padding: 2em;
    border-radius: 0.5em;
    max-width: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;

    .image{
        position: relative;
        width: 200px;
        height: 200px;
        overflow: hidden;
    }

    img{
        position: absolute;
        left: 50%;
        top: 50%;
        height: 100%;
        width: auto;
        border-radius: 50%;
        -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
    }
}


.projects{
    width: 20vw;
    position: relative;
    border-left: 1px solid whitesmoke;
    max-height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
}


  
.btn{
    position: absolute;
    bottom: 1em;
    right: 1em;
    z-index: 1;
}

.project__field{

    h1{
        margin: 2em;
        text-align: center;
    }
}

::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link{
    border-bottom: 2px solid whitesmoke;
}

